/* imageType */
.imageType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

/* imageType01 */
.imageType01 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}
.imageType01 h2{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 36px;
}
.imageType01 .image-wrap{
    overflow: hidden;
}
.imageType01  .image{
    float: left;
    width: 590px;
    height: 385px;
    position: relative;
}
.imageType01  .image:first-child{
    margin-right: 20px;
}
.imageType01  .image .image-cont{
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #fff;
}
.imageType01  .image .image-title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 6px;
}
.imageType01  .image .image-desc{
    font-size: 14px;
    font-weight: 400;
    padding-right: 20%;
    line-height: 1.4;
    word-break: keep-all;
}
.imageType01  .image .image-btn{
    padding: 8px 18px;
    display: inline-block;
    background-color: rgba(38, 33, 30, 0.6);
    color: #fff;
    margin-top: 10px;
}
.imageType01  .image .image-cont .s2{
    background: rgba(38, 33, 30, 0.6);
    width: 400px;
    padding: 20px;
}
.imageType01  .image .image-cont .s2 .image-desc{
    padding-right: 0;
}
.imageType01  .image .image-cont .s2 .image-btn{
    padding: 0;
    border-bottom: 1px solid #fff;
}
/* //imageType01 */


/* imageType02 */
.imageType02 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}
.imageType02 h2 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 36px;
}
.imageType02 .image-wrap {
    display: flex;
    justify-content: space-between; /*가로 정렬*/
}
.imageType02 .image {
    width: 386px;
    position: relative; /* position absolute 기준점 주기*/
    perspective: 500px;
}
.imageType02 .image::after {
    content: '';
    background: #fff;
    display: block;
    position: absolute; /* 포지션이 있으면 따로 relative 또 안줘도 됨*/
    left: 30px; top: 30px; right: 30px; bottom: 30px;
    opacity: 0;
    transform: rotateX(90deg);
    transition: all 0.4s ease-in-out;
}
.imageType02 .image:hover::after {
    opacity: 0.7;
    transform: rotateX(0deg);
}
.imageType02 .image .image-img {}
.imageType02 .image .image-cont {
    position: absolute; /*글 위치*/
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    opacity: 0;
    transform: translate(-50%, -0%);
    z-index: 1000;
    transition: all 0.4s ease-out;
}
.imageType02 .image:hover .image-cont {
    opacity: 1;
    transform: translate(-50%, -50%);
}
.imageType02 .image .image-cont::after {
}
.imageType02 .image .image-title {
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.imageType02 .image .image-btn {
    color: #fff;
    padding: 9px 24px;
    background: #000;
    border-radius: 40px;
    font-weight: 300;
    margin-top: 15px;
    display: inline-block;
}
