* {margin: 0; padding: 0;}
#wrap {width: 1000px;margin: 0 auto;text-transform: uppercase; padding: 50px 0;}
li {list-style: none;}
a {text-decoration: none;color: #000;font-size: 18px;font-weight: 700;}
/* wrap */


#header {}
#header .menu {}
#header .menu h2 {float: left; margin-bottom: 20px;}
#header .menu h2 img {
    width: 100px;
}
#header .menu ul {
    float: right;
}
#header .menu ul li {
    display: inline-block;
    padding-left: 50px;
    position: relative;
}
#header .menu ul li .sub_menu {
    background-color: #999;
    display: none;
    position: absolute;
    left: 0;
    top: 67px;
    z-index: 100;
}
#header .menu ul li .sub_menu li {}

/* header */


#banner {
    height: 389px;
    overflow: hidden;
}
#banner img {
    width: 100%;
    display: block;
}

/* 상하 */
/* #banner .slide_list {
    width: 1000px;
    height: 389px;
    position: relative;
} */

/* 좌우 */
#banner .slide_list {
    width: 3000px;
    position: relative;
}

#banner .slide_list .slide {
    width: 1000px;
    float: left;
}

/* banner */


#content1 {
    overflow: hidden;
}
#content1 div.left {
    float: left;
}
#content1 div.right {
    float: right;
}
#content1 div {
    display: block;
    width: 43%;
    padding: 25px 30px;
    margin: 30px 0;
    background-color: #f2f2f2;
}
#content1 div h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}
#content1 div p {
    font-size: 14px;
    margin-bottom: 10px;
}
#content1 div img {
    width: 20px;
}
#content1 div span {
    font-size: 16px;
    font-weight: 600;
    padding: 0px 0px 0px 5px;
}
#content1 div em {
    font-style: normal;
    font-size: 12px;
    color: #888;
    padding-left: 5px;
    font-weight: 500;
}

/* content1 */


.layer_bg {display: none; position: fixed; left: 0; top: 0; z-index: 900; width: 100%; height: 100%; background: rgba(0,0,0,0.8);}
.layer {display: none; position: absolute; left: 30px; top: 30px; width: 500px; height: 500px; z-index: 1000; border: 3px solid #000; background: #fff;}
.layer h2 {padding: 20px; color: #000;}
.layer .close {position: absolute; bottom: 20px; right: 20px;}

/* layer */



#content2 {}
#content2 .tab_menu {}
#content2 .tab_btn {
    margin-bottom: 20px;
}
#content2 .tab_btn ul {}
#content2 .tab_btn li {
    display: inline-block;
}
#content2 .tab_btn li::after {
    content: '|';
    color: #000;
    font-size: 28px;
    font-weight: 600;
    padding: 0 10px;
}
#content2 .tab_btn li:last-child:after {
    content: '';
}
#content2 .tab_btn li.show a {
    color: #000;
}
#content2 .tab_btn li a {
    font-size: 30px;
    font-weight: 600;
    color: #999;
}
#content2 .tab_cont {
    overflow: hidden;
}
#content2 .tab_cont .cont_wrap.active {
    display: none;
}
#content2 .tab_cont .card {
    width: 32%;
    margin-right: 2%;
    float: left;
}
#content2 .tab_cont .card:last-child {
    margin-right: 0;
}
#content2 .tab_cont .card img {
    width: 100%;
}
#content2 .tab_cont .card h2 {
    padding: 10px 0;
    font-size: 14px;
}
#content2 .tab_cont .card span {
    font-size: 15px;
    font-weight: 800;
}
#content2 .tab_cont .card em {
    font-size: 13px;
    color: #999;
    font-weight: 600;
}

/* contents2 */


#footer {
    background-color: #202020;
    padding: 30px 0px;
    color: #fff;
    overflow: hidden;
}
#footer .footer_wrap {
    width: 1000px;
    margin: 0 auto;
}
#footer .footer_wrap .logo {
    display: inline-block;
}
#footer .footer_wrap .logo img {
    width: 150px;
}
#footer .footer_wrap .top {
    text-align: right;
    display: inline-block;
    float: right;
}
#footer .footer_wrap .top li {
    display: inline-block;
    padding-left: 30px;
    padding-bottom: 10px;
    font-size: 16px;
}
#footer .footer_wrap .bottom {
    color: #555;
    margin-top: 15px;
}
#footer .footer_wrap .bottom li {
    display: block;
    text-align: left;
    font-size: 12px;
}