@charset "utf-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, canvas, embed, figcaption, hgroup, menu, nav, output, ruby, summary, time, mark {
    box-sizing: inherit;
    line-height: 1.2em;
}
html, body, article, aside, details, figcaption, figure, header, hgroup, menu, div, nav, section, header, table, tbody, tfoot, thead, tr, th, td, article, aside, audio, video, textarea{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    color: #0e141c;
    vertical-align: middle;
    background: transparent;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    word-break: keep-all;
    line-height: 1.2em;
    font-family: 'NanumSquare' , 'NanumGothic' , arial;
    letter-spacing: -0.8px;
}
body {
    font-family: 'NanumSquare';
}
.inner {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}
#header {
    position: fixed;
    z-index: 90;
    top: 0;
    width: 100%;
    background-color: #fff;
    height: 90px;
    box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 10%);
}
#header .header_wrap {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}
#header .header_wrap .logo {
    position: absolute;
    top: 23px;
    left: 6%;
    width: 200px;
    height: 40px;
    z-index: 5;
}
#header .header_wrap .logo a {
    display: block;
    text-align: center;
    line-height: 40px;
    text-indent: -9999em;
    background: url(../img/logo_whale.svg) no-repeat center;
}
#header .header_wrap .inner .menu {text-align: center;overflow: hidden;}
#header .header_wrap .inner .menu li {
    display: inline-block;
    width: 12%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
#header .header_wrap .inner .menu li a:hover {
    color: #05c3a7;
}
#header .header_wrap .inner .menu li a {
    color: #2d1d1d;
    font-size: 18px;
    font-weight: 800;
    line-height: 90px;
}
#header .header_wrap .download a:hover {
    background: #15c5aa;
    color: #fff;
}
#header .header_wrap .download a {
    position: absolute;
    top: 20px;
    right: 4%;
    width: 125px;
    height: 50px;
    color: #15c5aa;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #15c5aa;
    border-radius: 5px;
    font-weight: 600;
}

#tab_wrap {
    width: 100%;
    margin-top: 90px;
}
#tab_wrap .fnTab {
    background-color: #333;
    color: #fff;
    width: 100%;
    text-align: center;
}
#tab_wrap .fnTab li {
    display: inline-block;
    width: 32%;
    text-align: center;
    max-width: 330px;
    height: 70px;
    line-height: 70px;
}
#tab_wrap .fnTab li:nth-child(1).current .tab_contents {
    color: #05d6b4;
}
#tab_wrap .fnTab li.current .tab_contents {
    background-position: top 23px left;
    background-size: 20px auto;
}
#tab_wrap .fnTab li:nth-child(2) {
    border-right: 1px solid #838383;
    border-left: 1px solid #838383;
}
#tab_wrap .fnTab li:nth-child(1) .tab_contents {
    background-image: url(../img/top_check.png);
}
#tab_wrap .fnTab li:nth-child(2) .tab_contents {
    background-image: url(../img/top_check_2.png);
}
#tab_wrap .fnTab li:nth-child(3) .tab_contents {
    background-image: url(../img/top_check_3.png);
}

#tab_wrap .fnTab li .tab_contents {
    display: inline-block;
    color: #838383;
    font-size: 18px;
    padding: 20px 30px;
    cursor: pointer;
    background-position: bottom 24px left;
    background-size: 20px auto;
    background-repeat: no-repeat;
}
#contents {
    display: block;
}
#contents [class*='whywhale_'] .inner {
    display: table;
    height: 670px;
    width: 100%;
}
#contents [class*='whywhale_'] .text {
    display: table-cell;
}
#contents h3 {
    font-size: 50px;
    color: #fff;
    font-weight: bold;
}
#contents [class*='whywhale_'] .text h3 {
    color: #000;
    position: relative;
    padding-left: 80px;
}
#contents [class*='whywhale_'] .text h3::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    clear: both;
    width: 70px;
    height: 70px;
    background-size: 100%;
}
#contents [class*='whywhale_'] .text h4 {
    color: #333130;
    font-size: 26px;
}
#contents [class*='whywhale_'] .detail li {
    width: 100%;
    padding-left: 30px;
    position: relative;
    margin-bottom: 20px;
}
#contents [class*='whywhale_'] .detail li a {
    display: inline-block;
    color: #2d68d2;
    line-height: 20px;
    font-size: 18px;
}
#contents [class*='whywhale_'] .image {
    display: table-cell;
    width: 50%;
}
#contents [class*='whywhale_'] .image img {
    display: block;
    width: 100%;
}
article[class*='whywhale_']:nth-child(even){
    background-color: #ecedf1;
}
#contents .text h3 {
    height: 70px;
    line-height: 70px;
    padding-left: 80px;
}
#contents .text h4 {
    margin: 30px 0 50px;
}
#contents .inner .detail {
    width: 100%;
    display: block;
}
#contents .device_type {
    width: 100%;
    margin-top: 30px;
}
#contents .device_type .pc {
    background: url(../img/icon_pc.png) no-repeat bottom center;
    background-size: 100%;
    width: 118px;
    height: 76px;
}
#contents .device_type .m {
    background: url(../img/icon_m.png) no-repeat bottom center;
    background-size: 100%;
    width: 118px;
    height: 76px;
}
.device_type > span {
    display: inline-block;
    width: 118px;
    height: 70px;
    background-size: 100%;
}
#contents .whywhale_on h3::before {
    background: url(../img/icon_why_tab1_05.png) no-repeat top center;
}
#contents .whywhale_on .detail li::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    clear: both;
    width: 20px;
    height: 20px;
    background: url(../img/icon_function_detailgo.png) no-repeat top center;
    background-size: 100%;
}
#contents article[class*='whywhale_']:nth-child(odd) .text {
    padding-left: 5%;
}
#contents .whywhale_top {
    background: url(../img/top_tasking_bg.jpg) no-repeat top center/ cover;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
#contents .whywhale_top .inner .toptxt {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
#contents .whywhale_top .inner .toptxt p {
    font-size: 30px;
    color: #fff;
    padding: 30px 0 50px;
}
#contents .whywhale_top .inner .toptxt .btn_down {
    display: block;
    width: 100%;
}
#contents .whywhale_top .inner .toptxt .btn_down a {
    display: inline-block;
    width: 250px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    height: 77px;
    line-height: 77px;
    position: relative;
    background: #05d6b4;
    border-radius: 45px;
}
.btn_down > a::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 77px;
    background: url(../img/icon_btn_arrow.png) 50% 50% no-repeat;
    background-size: 100%;
    margin-left: 18px;
    vertical-align: top;
}
#contents .whywhale_on {
    width: 100%;
}
#contents .whywhale_sidebar {
    width: 100%;
}
#contents .whywhale_sidebar h3::before {
    background: url(../img/icon_why_tab1_01.png) no-repeat top center;
}
#contents .whywhale_sidebar .detail li::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    clear: both;
    width: 20px;
    height: 20px;
    background: url(../img/icon_function_detailgo.png) no-repeat top center;
    background-size: 100%;
}
#contents .whywhale_quick h3::before {
    background: url(../img/icon_why_tab1_02.png) no-repeat top center;
}
#contents .whywhale_quick .detail li::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    clear: both;
    width: 20px;
    height: 20px;
    background: url(../img/icon_function_detailgo.png) no-repeat top center;
    background-size: 100%;
}
#contents .whywhale_dual h3::before {
    background: url(../img/icon_why_tab1_03.png) no-repeat top center;
}
#contents .whywhale_dual .detail li::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    clear: both;
    width: 20px;
    height: 20px;
    background: url(../img/icon_function_detailgo.png) no-repeat top center;
    background-size: 100%;
}
#contents .whywhale_dual .device_type.dual > p {
    display: inline-block;
    padding-top: 20px;
    position: relative;
    width: 118px;
    height: 76px;
}
#contents .whywhale_dual .device_type.dual > p .txt {
    position: absolute;
    line-height: 1em;
    font-size: 16px;
    color: #919191;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
}
#contents .whywhale_dual .device_type.dual .pc{
    bottom: 0;
    left: 0;
    position: absolute;
}

#contents .whywhale_capture h3::before {
    background: url(../img/icon_why_tab1_04.png) no-repeat top center;
}
#contents .whywhale_capture .detail li::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    clear: both;
    width: 20px;
    height: 20px;
    background: url(../img/icon_function_detailgo.png) no-repeat top center;
    background-size: 100%;
}

#whale_down {
    width: 100%;
    background-color: #fff;
    padding: 10% 0;
    text-align: center;
}
#whale_down .down_gif {
    display: inline-block;
    margin-bottom: 3%;
    max-width: 560px;
}
#whale_down .btn_whale_down {
    text-align: center;
}
#whale_down .btn_whale_down > a {
    display: inline-block;
    width: 250px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    border-radius: 45px;
    height: 77px;
    line-height: 77px;
    position: relative;
    background: #05d6b4;
}
#whale_down .btn_whale_down > a::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 77px;
    background: url(../img/icon_btn_arrow.png) 50% 50% no-repeat;
    background-size: 100%;
    margin-left: 18px;
    vertical-align: top;
}
#footer {
    padding: 50px 0;
    width: 100%;
    text-align: center;
    background-color: #f9f9f9;
}
#footer h2 {
    display: inline-block;
    margin: 0 0 20px;
    max-width: 141px;
}
#footer h2 a .block {
    display: block;
    width: 100%;
}
#footer ul li {
    display: inline-block;
    position: relative;
    margin: 10px 20px 0;
    text-align: center;
}
#footer ul li::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -21px;
    width: 1px;
    height: 18px;
    background: #dadada;
}

#footer ul li a {
    font-size: 16px;
    color: #c0c0c0;
    font-weight: 700;
}
#footer .pc_only {
    display: inline-block;
}
#footer .mb_only {
    display: none;
}
#footer .beta {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    text-align: center;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
#footer .beta a {
    position: relative;
    padding: 0 15px 0 45px;
    height: 43px;
    color: #c0c0c0;
    font-size: 16px;
    line-height: 43px;
}
#footer .beta a::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 55px);
    width: 20px;
    height: 20px;
    background: url(../img/beta.svg) no-repeat;
}

@media(max-width:560px) {
    #contents [class*='whywhale_'] .inner {
        height: 480px;
        width: 90%;
        margin: 0 auto;
    }
    #header {
        height: 60px;
    }
    #header .header_wrap .logo a {
        top: 10px;
        left: 4%;
        width: 140px;
    }
    #header .header_wrap .inner .menu {
        display: none;
    }
    #header .header_wrap .download a{
        display: none;
    }
    #tab_wrap .fnTab {
    }
    #footer ul li { margin: 10px 0 0; text-align: left; }
	#footer ul li::after { display: none; }
    #header .header_wrap .inner .menu li a {
        display: none;
    }
    #tab_wrap .fnTab li.current .tab_contents {
        background-size: 14px auto;
        background-position: top 17px left;
    }
    #tab_wrap .fnTab li .tab_contents {
        font-size: 12px;
        padding: 15px 20px;
    }
    #contents .whywhale_top .inner .toptxt {
        background-size: contain;
        display: block;
        padding: 0 5%;
        height: 100%;
        background: url(../img/top_tasking_bg.jpg);
    }
    #contents h3 {
        padding-top: 50px;
        font-size: 32px;
    }
    .mb_only {
        display: block;
    }
    #contents .whywhale_top .inner .toptxt p {
        padding: 20px 0 30px;
        font-size: 16px;
    }
    #contents .whywhale_top .inner .toptxt .btn_down a {
        width: 154px;
        font-size: 17px;
        border-radius: 26.5px;
        height: 52px;
        line-height: 52px;
    }
    #contents .whywhale_top .inner .toptxt .btn_down a::after {
        width: 20px;
        height: 52px;
        margin: 0 0 0 12px;
    }
    #contents [class*='whywhale_'] .text {
        padding-top: 50px;
        display: block;
        width: 100%;
    }
    #contents [class*='whywhale_'] .text:nth-child(even) {
    }
    #contents [class*='whywhale_'] .text h3 {
        padding-left: 54px;
        height: 44px;
        line-height: 44px;
        font-size: 28px;
    }
    #contents [class*='whywhale_'] .text h3::before {
        width: 44px;
        height: 44px;
    }
    #contents [class*='whywhale_'] .text h4 {
        font-size : 16px;
        margin: 20px 0 30px;
    }
    #contents [class*='whywhale_'] .detail li a {
        line-height: 16px;
        font-size: 14px;
        display: inline-block;
        color: #2d68d2;
    }
    #contents .device_type .pc {
        width: 90px;
        height: 40px;
    }
    #contents .device_type .m {
        width: 90px;
        height: 40px;
    }
    #contents [class*='whywhale_']:nth-child(odd) {
        position: relative;
        padding-top: 80px;
        height: auto;
    }
    #contents [class*='whywhale_'] .image {
        padding-bottom: 50px;
        display: block;
        width: 100%;
        display: block;
        width: 82.8%;
        text-align: center;
        margin: 10% auto 0;
    }
    #contents [class*='whywhale_'] .image img {
        display: block;
        width: 100%;
    }
    #contents [class*='whywhale_']:nth-child(odd) .image {
        top: 53%;
        width: 74%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        text-align: center;
        margin: 10% auto 0;
    }
    #contents article[class*='whywhale_']:nth-child(odd) .text {
        margin-top: -30px;
        padding-left: 0;
        display: block;
        width: 100%;
        padding-top: 0;
    }
    #contents [class*='whywhale_'] .detail li {
        margin-bottom: 12px;
        padding-left: 22px;
    }
    #contents .whywhale_on {
        height: auto;
    }
    #contents .whywhale_on .detail li::before {

        top: calc(50% - 7px);
        width: 14px;
        height: 14px;
        background-size: 100%;
    }
    #contents .whywhale_sidebar .detail li::before {
        top: calc(50% - 7px);
        width: 14px;
        height: 14px;
        background-size: 100%;
    }

    #contents .whywhale_quick .detail li::before {
        top: calc(50% - 7px);
        width: 14px;
        height: 14px;
        background-size: 100%;
    }
    #contents .whywhale_dual .detail li::before {
        top: calc(50% - 7px);
        width: 14px;
        height: 14px;
        background-size: 100%;
    }
    #contents .whywhale_capture .detail li::before {
        top: calc(50% - 7px);
        width: 14px;
        height: 14px;
        background-size: 100%;
    }
    #contents .whywhale_dual .device_type.dual > p {
        display: inline-block;
        padding-top: 20px;
        position: relative;
        width: 90px;
        height: 56px;
    }
    #contents .whywhale_dual .device_type.dual > p .txt {
        font-size: 12px;
        margin-right: 5px;
    }
    #whale_down {
        padding: 15% 0;
    }
    #whale_down .down_gif {
        min-width: 300px;
    }
    .inner {
        width: 90%;
        margin: 0 auto;
    }
    #whale_down .btn_whale_down > a {
        width: 154px;
        font-size: 17px;
        border-radius: 26.5px;
        height: 52px;
        line-height: 52px;
    }
    #whale_down .btn_whale_down > a::after {
        width: 20px;
        height: 52px;
        margin: 0 0 0 12px;
    }
    #footer {
        padding: 40px 0;
    }
    #footer ul li a {
        font-size: 12px;
        padding: 0 10px;
    }
    #footer .beta {
        position: relative;
        top: inherit;
        right: inherit;
        margin: 30px 0 0;
    }
    #footer .beta a {
        padding: 0 15px 0 35px;
        height: 38px;
        font-size: 14px;
        line-height: 38px;
    }
}